<link href="https://fonts.googleapis.com/css?family=Damion|Satisfy" rel="stylesheet">



<div class="container_fluid hompage-container">
    <div class="page-header">
        <h1>Kelsey Lee's Mac Factory</h1>
        <h3>French Macarons For All</h3>
        </h1>
    </div>
</div>

<div class="jumbo-wrapper">
    <div class="jumbotron main-container">
        <h1>Visit One of Our Stores</h1>
        <p>With several location around the city, you can get you mac on anywhere!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Locations</a></p>
        <div class="store-image">

        </div>
    </div>
</div>