<div class="container" style="padding: 20px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <h1>Add New User</h1>
        </div>
    </div>
</div>

<%= render 'form', user: @user %>

    <%= link_to 'Back', users_path %>