<%= form_with(model: company, local: true) do |form| %>
    <% if company.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

            <ul>
                <% product.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>


            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <section>
                        <div class="container-fluid form-control">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <form role="form">
                                    <div class="field">

                                    </div>
                                    <div class="form-group">
                                        <label for="company_name">Company Name</label>
                                        <input type="text" id="company_name" name="company_name" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping_address">Shipping Street Address</label>
                                        <input type="text" id="shipping_address" name="shipping_address" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping_address_2">Shipping Street Address Unit/Suite</label>
                                        <input type="text" id="shipping_address_2" name="shipping_address_2" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping_city">Shipping City</label>
                                        <input type="text" id="shipping_city" name="shipping_city" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping_state">Shipping State</label>
                                        <input type="text" id="shipping_state" name="shipping_state" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping_zipcode">Shipping Zipcode</label>
                                        <input type="text" id="shipping_zipcode" name="shipping_zipcode" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping_notes">Shipping Notes</label>
                                        <input type="text" id="shipping_notes" name="shipping_notes" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="billing_street_address">Billing Street Address</label>
                                        <input type="text" id="billing_street_address" name="billing_street_address" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="billing_street_address_2">Billing Street Address Unit/Suite</label>
                                        <input type="text" id="billing_street_address_2" name="billing_street_address_2" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="billing_state">Billing State</label>
                                        <input type="text" id="billing_state" name="billing_state" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="billing_zipcode">Billing Zipcode</label>
                                        <input type="text" id="billing_zipcode" name="billing_zipcode" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="company_phone">Company Phone</label>
                                        <input type="text" id="company_phone" name="company_phone" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email" class="form-control" />
                                    </div>



                                    <div class="actions">
                                        <%= form.submit%>
                                    </div>
                                    <% end %>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>