.loginForm {
  width: 50%;
  border: 1px solid #D3D3D3;
  margin: 0 auto;
  padding: 2rem;
  background-color: #552626;
  margin-top: 50px;
  color: lightgoldenrodyellow;
  border-radius: 10px;
  box-shadow: 2px 3px 3px black;
}
