// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn a:hover {
    background-color: #552626;
}

.btn-warning {
    padding: 10px;
    position: sticky;
    top: 8px;
    border-radius: 6px;
    color: #552626;
}

h1 {
    margin-left: 15px;
}